<!doctype html>

<html>
<head>
	<title>History</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<!-- <body>

  <div class="container our-header">
    <div class="jumbotron">
      <h2>History</h2>
    </div>
  </div> -->
<body class="titleFont">
<div class="container pageBackground">
  <div class="jumbotron titleHeading">
    <a class="glyphicon glyphicon-home iconClass pull-left" href="/index" style="color:#3ab9cf; margin-top:-30px; margin-left:-25px"> </a>
    
    <div class="dropdown" style="color:#a5e4ff">
    <a class="glyphicon glyphicon-th-list iconClass pull-right" data-toggle="dropdown" href="#" style="color:#3ab9cf; margin-top:-30px; margin-right:-25px"> </a>

              <li class="dropdown-menu pull-right" style="background-color:#1a525c">
                <a href="about" style="text-align:center; color:#a5e4ff"><p>About</p></a>
                <br>
                <a href="/user_logout" style="text-align:center; color:#a5e4ff"><p>Logout</p></a>
              </li>
    </div>
<h3 style="text-align:center; margin-top:-10px">My History</h3>
  </div>  

<!-- Nav tabs -->
<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="#1month" data-toggle="tab">Last Month</a></li>
  <li><a href="#3months" data-toggle="tab">3 Months</a></li>
  <li><a href="#6months" data-toggle="tab">6 Months</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="1month">
    <p>Medication Missed:<br>
    {{#each Medicine}}
    {{name}}: 3<br>
    {{/each}}
    <br>
    Symptoms Reported:<br>
    {{#each Symptoms}}
    {{name}}: 2<br>
    {{/each}}</p>
  </div>
  <div class="tab-pane" id="3months">
    <p>Medication Missed:<br>
    {{#each Medicine}}
    {{name}}: 9<br>
    {{/each}}
    <br>
    Symptoms Reported:<br>
    {{#each Symptoms}}
    {{name}}: 4<br>
    {{/each}}</p>
  </div>
  <div class="tab-pane" id="6months">
    <p>Medication Missed:<br>
    {{#each Medicine}}
    {{name}}: 18<br>
    {{/each}}
    <br>
    Symptoms Reported:<br>
    {{#each Symptoms}}
    {{name}}: 8<br>
    {{/each}}</p>
  </div>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-primary btn-lg" href="index">Back</a>
	</div>
  <br>
  <div class="btn-group btn-group-justified">
    <a class="btn mybtn-success btn-lg" href="sendReport">Send report to Doctor</a>
  </div>
  <br>
  <br>
</div>
	</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</html>
