<!doctype html>

<html>
<head>
	<title>Prescriptions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/bootstrap-theme.css" rel="stylesheet">
<link href="../css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<!-- <body> -->
<body class="titleFont">
<div class="container pageBackground">
	<div class="jumbotron titleHeading">
		<a class="glyphicon glyphicon-home iconClass pull-left" href="/index" style="color:#3ab9cf; margin-top:-30px; margin-left:-25px"> </a>
		
		<div class="dropdown" style="color:#a5e4ff">
		<a class="glyphicon glyphicon-th-list iconClass pull-right" data-toggle="dropdown" href="#" style="color:#3ab9cf; margin-top:-30px; margin-right:-25px"> </a>

						  <li class="dropdown-menu pull-right" style="background-color:#1a525c">
						    <a href="about" style="text-align:center; color:#a5e4ff"><p>About</p></a>
						    <br>
						    <a href="/user_logout" style="text-align:center; color:#a5e4ff"><p>Logout</p></a>
						  </li>
		</div>
<h3 style="text-align:center; margin-top:-10px">{{MedName}}</h3>
	</div>	





	<div class="container-fluid" class="rxDescriptionCSS">
	<!-- 	<div class="col-xs-10 col-xs-offset-1"><h3>{{MedName}}</h3></div> -->
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-volume-up iconClass"></span> </div>
			  <div class="col-xs-8 col-xs-offset-1 " style="margin-top:15px">{{Phoentical}}</div>	
		</div>
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-info-sign iconClass"></span> </div>
			  <div class="col-xs-8 col-xs-offset-1"style="margin-top:10px">{{Info}}</div>	
		</div>
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-time iconClass" ></span> </div>
<!-- 			  <div class="col-xs-3 col-xs-offset-1"><textarea class="form-control" rows="2">{{Morning-time}}</textarea></div>	
			  <div class="col-xs-3 col-xs-offset-1"><textarea class="form-control" rows="2">{{Evening-time}}</textarea></div>	 -->
			  <div class="col-xs-3 col-xs-offset-1" style="margin-top:15px">{{Morning-time}}</div>	
			  <div class="col-xs-3 col-xs-offset-1" style="margin-top:15px">{{Evening-time}}</div>	
		</div>
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-cutlery iconClass"></span> </div>
			  <div class="col-xs-8 col-xs-offset-1" style="margin-top:15px">{{Food-info}}</div>	
		</div>
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-calendar iconClass"></span> </div>
			  <div class="col-xs-3 col-xs-offset-1" style="margin-top:15px">{{Last-refill}}</div>	
			  <div class="col-xs-3 col-xs-offset-1" style="margin-top:15px">{{Next-refill}}</div>	
		</div>
		<div class="row">
			  <div class="col-xs-2"><span class="glyphicon glyphicon-warning-sign iconClass"></span> </div>
			  <div class="col-xs-8 col-xs-offset-1" style="margin-top:15px">{{Warning}}</div>	
		</div>
		<br>
	</div>
	

	<div class="btn-group btn-group-justified">
		<a href="../prescriptions"class="btn btn-primary btn-lg">BACK</a>
		<a href="../refillVerification" class="btn btn-lg btn-success"> Refill</a>
	</div>
	
</body>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/hci-friends.js"></script>
</html>
